{{ define "main" -}}
  <div class="card my-5">
    <div class="card-body">
      <h2>Tomou a decisão de encerrar definitivamente o seu CNPJ?</h2>

      <p><strong>Tudo bem, a gente entende</strong></p>

      <ul class="list-unstyled mt-5">
        <li class="mb-3"><span class="lnr lnr-chevron-right"></span> Fazemos uma análise completa em busca de pendências fiscais e tributárias</li>
        <li class="mb-3"><span class="lnr lnr-chevron-right"></span> O processo é 100% transparente. Você pode acompanhar todas as etapas através do nosso aplicativo</li>
        <li class="mb-3"><span class="lnr lnr-chevron-right"></span> Fechamos a sua empresa em prazo recorde</li>
        <li class="mb-3"><span class="lnr lnr-chevron-right"></span> Utilizamos o seu próprio certificado digital (você pode adquirir um novinho em folha se preferir)</li>
      </ul>

      <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-primary mt-5">Vem com a gente :)</a></p>

    </div>
  </div>
{{- end }}
