{{ define "main" -}}
  <div class="card my-5">
    <div class="card-body">
      <h1>Nossos planos</h1>

      <div class="row">
        <div class="col sm-mt-2 mb-3">
          <div class="card subcard text-center">
            <div class="card-body">
              <h5 class="card-title my-5"><span class="lnr lnr-rocket"></span> Plano Mensal</h5>
              <p class="card-text">
                Valor anual: <strong>R$ 598,00</strong><br>
                Valor mensal: <strong>R$ 49,00 / mês</strong>
              </p>
              <a href="https://app.pjpark.com.br/users/sign_up" class="btn btn-primary mt-3 mb-5">Escolher o plano Mensal</a>
            </div>
          </div>
        </div>
        <div class="col sm-mt-2">
          <div class="card subcard text-center">
            <div class="card-body">
              <h5 class="card-title my-5"><span class="lnr lnr-rocket"></span> Plano Anual</h5>
              <p class="card-text">
                Valor anual: <strong>R$ 478,00</strong><br>
                Valor mensal: <strong>R$ 39,00 / mês</strong>
              </p>
              <a href="https://app.pjpark.com.br/users/sign_up" class="btn btn-primary mt-3 mb-5">Escolher o plano Anual</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
{{- end }}
