{{ define "main" -}}
  <div class="card my-5">
    <div class="card-body">
      <h1>Política de privacidade</h1>

      <p>A PJ Park tem como prioridade a manutenção de uma relação de confiança e no intuito de tornar claras as questões de privacidade da relação quanto aos dados coletados e armazenados, este termo ("Política de privacidade") tem a intenção de esclarecer sobre quais informações coletamos e como as utilizamos, e este deve ser aceito, observado e cumprido por todos os clientes e usuários da plataforma PJ Park. Por sua vez, desde já, a PJ Park se obriga, nos termos da legislação em vigor e do presente termo, a garantir a privacidade dos usuários deste site.</p>
      
      <h5>1. QUAIS INFORMAÇÕES COLETAMOS?</h5>
      
      <p>A PJ Park pode recolher, gravar e utilizar em conexão com outros sites e parceiros as informações pessoais dos usuários, incluindo, mas não se limitando ao nome da empresa, nome do responsável pelo acesso, CNPJ da empresa usuária, endereço, número de telefone, interesses, atividades, tempo de abertura da empresa, etc.</p>
      
      <p>A PJ Park se resguarda o direito de gravar seu IP, tipo de navegador, aparelho e operadora de celular, posição geográfica e outros dados relativos aos usuários.</p>
      
      <p>As informações coletadas e existentes em nossos sistemas são (i) informações que o usuário se prontifica a fornecer através de cadastro (dados pessoais, dados financeiros, dados de conta e dados de acesso), emissão de notas fiscais ou importação de extratos bancários e (ii) informações obtidas automaticamente.</p>
      
      <p>As informações que os usuários se prontificam a fornecer são aquelas definidas como dados pessoais, dados financeiros, dados de conta e dados de acesso e que são preenchidas no momento do cadastro necessário para utilização da Plataforma PJ Park, bem como aquelas preenchidas sempre que o usuário utiliza nossos serviços através da plataforma.</p>
      
      <p>A PJ Park coleta ainda os dados financeiros também incluídos na Plataforma, através de importação de nota fiscal e/ou no extrato bancário. E, dessa forma, coletamos informações a respeito dos dados financeiros, por exemplo, a localização onde a nota fiscal é emitida, o banco utilizado pelo usuário, entre outros. Coletamos também informações sobre você quando outro usuário emite nota fiscal para você através dos nossos serviços.</p>
      
      <p>Quando o usuário realiza possíveis pagamentos na plataforma, a PJ Park coletará informações sobre o pagamento, o que inclui informações de conta, dados de faturamento, número de cartão de credito ou débito, etc.</p>
      
      <p>Nenhuma consequência poderá ocorrer da recusa em preencher tais informações, exceto que o usuário não poderá obter o benefício de utilização dos serviços. As informações coletadas automaticamente não são informações pessoais, mas sim sobre os computadores, smartphones ou outros dispositivos que o usuário utiliza para acessar a plataforma, bem como o nome de domínio do seu provedor de acesso à internet, o endereço de protocolo IP utilizado para se conectar à Plataforma, o tipo e versão do browser do usuário, o sistema operacional, o tempo médio gasto na Plataforma, as páginas visitadas na Plataforma, as informações procuradas, os horários de acesso e outras estatísticas relevantes para o fornecimento de serviço.</p>
      
      <h5>2. O QUE FAZEMOS COM AS INFORMAÇÕES COLETADAS?</h5>

      <p>A PJ Park não divulga publicamente nem a terceiros suas informações de modo que possam identificá-lo. A PJ Park busca sempre manter a sua privacidade enquanto estiver utilizando o serviço, MAS PODERÁ UTILIZAR AS INFORMAÇÕES FORNECIDAS OU AQUELAS OBTIDAS AUTOMATICAMENTE DE FORMA AGREGADA NO INTUITO DE REALIZAR ANÁLISES, ESTUDOS, MELHORIAS DO SISTEMA OU POR FORÇA DE ORDEM JUDICIAL.</p>
      
      <p>A PJ Park GOSTA DE CRIAR NOVAS EXPERIÊNCIAS PARA ATENDER POSSÍVEIS DEMANDAS NASCENTES. POR ISSO, USAMOS TODAS AS INFORMAÇÕES QUE TEMOS PARA APOIAR NOSSOS SERVIÇOS, MELHORÁ-LO OU ATENDER NOVAS DEMANDAS A PARTIR DAS INFORMAÇÕES OBTIDAS.</p>
      
      <p>Por isso, tanto as informações que o usuário se prontifica a fornecer quanto as informações coletadas automaticamente são utilizadas para mensurar o uso da plataforma, bem como para administrar os serviços prestados, aperfeiçoá-lo e identificar possíveis necessidades dos usuários.</p>
      
      <p>A PJ Park envia e-mails, e o usuário desde já autoriza que ela o faça, com alertas e comunicados relacionados às funções da plataforma no intuito permitir que o usuário explore todas as suas funcionalidades, bem como com informações relevantes à contabilidade, planejamento financeiro ou questões referentes à gestão empresarial, entre outros tipos.</p>
      
      <p>A PJ Park PODERÁ OFERECER SERVIÇOS PERSONALIZADOS, CONDUZIR PESQUISAS E TESTAR RECURSOS EM DESENVOLVIMENTO.</p>
      
      <p>ALÉM DISSO, A PJ Park USA AS INFORMAÇÕES PARA OFERECER SERVIÇOS DE CONTABILIDADE PARA EMPRESAS A QUEM SÃO EMITIDAS AS NOTAS FISCAIS DIRETAMENTE NA PLATAFORMA. O USUÁRIO AUTORIZA DESDE JÁ QUE A PJ Park ACESSE DADOS DOS DESTINATÁRIOS DAS NOTAS FISCAIS EMITIDAS, NO INTUITO DE POSSIBILITAR A OFERTA DE SERVIÇOS PJ Park.</p>
      
      <p>AS INFORMAÇÕES NÃO SERÃO DIVULGADAS, VENDIDAS OU ALUGADAS PARA QUALQUER ORGANIZAÇÃO OU ENTIDADE, TAMPOUCO COM ELAS SERÁ FEITA PERMUTA SEM ANTES COMUNICAR AO USUÁRIO E OBTER SEU CONSENTIMENTO EXPRESSO, COM EXCEÇÃO DE INFORMAÇÕES EXIGIDAS POR LEIS OU POR ORDEM JUDICIAL.</p>
      
      <p>Os "cookies" depositados nas máquinas dos usuários não coleta informações identificadoras do Usuário, mas apresenta informações de forma global e são necessários para aperfeiçoar a navegação na plataforma. A PJ Park contabiliza os números de visitas em seu site e em todas as suas páginas subjacentes, inclusive mediante utilização de cookies, de forma a melhorar a qualidade dos serviços prestados.</p>
      
      <p>AS ANÁLISES ESTATÍSTICAS E GENÉRICAS SOBRE O COMPORTAMENTO DOS USUÁRIOS PODERÃO SER PARTILHADAS, MAS O USUÁRIO NUNCA SERÁ INDIVIDUALMENTE IDENTIFICADO. AO PREENCHER O FORMULÁRIO E FORNECER AS INFORMAÇÕES À PJ Park, O USUÁRIO DECLARA QUE PERMITE O PROCESSAMENTO DE DADOS PESSOAIS CONFORME ESTABELECIDO NESTE TERMO.</p>
      
      <p>Na plataforma pode conter links a outros web sites. E a presente declaração de privacidade não abrange os referidos sites, não podendo a PJ Park ser responsabilizada pelas práticas de privacidade de outros sites.</p>
      
      <p>A PJ Park reserva-se o direito de alterar a presente política a qualquer tempo, informando o usuário no prazo de 30 (trinta) dias antes do início de sua vigência para que o usuário tome ciência e expresse nova concordância. CASO O USUÁRIO NÃO CONCORDE COM A NOVA POLÍTICA, DEVE INFORMAR TÃO LOGO TOME CIÊNCIA DA ALTERAÇÃO, DE MODO A VIABILIZAR UMA REGULAR RESCISÃO CONTRATUAL ENTRE A EMPRESA E O USUÁRIO, OBSERVADOS SEMPRE O CONTRATO DE PRESTAÇÃO DE SERVIÇOS E A POLÍTICA DE ARMAZENAMENTO DE INFORMAÇÕES VIGENTES NO PRESENTE MOMENTO.</p>
      
      <h5>3. DO ARMAZENAMENTO E EXCLUSÃO DAS INFORMAÇÕES E DADOS PESSOAIS</h5>

      <p>O usuário poderá ter acesso às suas informações pessoais que inclui no momento do cadastro e às informações que incluiu na plataforma através do acesso à plataforma.</p>
      
      <p>A PJ Park armazenará todos os dados e informações pelo tempo que entender necessário e até a exclusão de sua conta e rescisão de contrato de prestação de serviços.</p>
      
      <p>O usuário poderá realizar a exclusão de sua conta a qualquer momento, bastando fazê-lo também através da plataforma, respeitadas as obrigações existentes no contrato de prestação de serviços.</p>
      
      <p>Quando o usuário exclui sua conta e rescinde o contrato, os dados pessoais serão excluídos, porém são mantidas as informações de guarda obrigatória, conforme determinação legal.</p>
      
      <p>Caso o usuário tenha qualquer dúvida quanto à presente política de privacidade, poderá entrar em contato com a PJ Park através da plataforma ou atendimento online junto ao site <a href="https://pjpark.com.br">https://pjpark.com.br</a>.</p>
      
      <h5>4. DEFINIÇÕES</h5>

      <p>4.1. PJ Park – Quando mencionamos "PJ Park" no presente termos, o usuário deve ter ciência que referimo-nos à empresa PJ Park LTDA. (CNPJ 36.489.120/0001-41), a qual é empresa desenvolvera da Plataforma PJ Park e detentora de todo e qualquer direito relacionado a ela.</p>
      
      <p>4.2. USUÁRIO – Pessoa física ou jurídica que aderiu aos termos e aceitou as condições da presente TERMO DE USO para utilização do sistema PJ Park e Pessoa física ou jurídica que contratou os serviços da empresa PJ Park LTDA nos termos do CONTRATO DE PRESTAÇÃO DE SERVIÇOS E DE LICENÇA DE SOFTWARE.</p>
      
      <p>4.3. PLATAFORMA - – local virtual onde o usuário insere todas as informações que possibilitam o acesso ao sistema e, consequentemente, a utilização dos serviços contábeis ou baixa de empresa;</p>
      
      <p>4.4. SITE: <a href="https://pjpark.com.br">https://pjpark.com.br</a></p>
      
      <p>4.5. DADOS PESSOAIS - quaisquer dados incluídos pelo usuário na Plataforma/Site e que permitam a identificação do usuário, os quais incluem nome, e-mail, CNPJ, endereço de sede da empresa, etc.;</p>
      
      <p>4.6. DADOS DE CONTA – quaisquer dados que o Usuário insira na Plataforma/site ao se cadastrar no site, como, por exemplo, dados de conta bancária, número de agência e conta bancária, bem como quaisquer outros dados bancários, inclusive cartões de crédito dos Usuários.</p>
      
      <p>4.7. DADOS FINANCEIROS – qualquer informação passível de identificação no momento da importação de nota fiscal e/ou no extrato bancário, bem como informações sobre o pagamento, o que inclui informações de conta, dados de faturamento, número de cartão de credito ou débito, informações referentes à dívidas ou investimentos, etc.</p>
      
      <p>4.8. DADOS DE ACESSO – informações coletadas de Usuários no momento da navegação referentes ao domínio do seu provedor de acesso à internet, o endereço de protocolo IP, o sistema operacional, data e cidade de acesso, etc.</p>
      
      <p class="mt-5"><i>Publicado em 13/02/2022</i></p>
    </div>
  </div>
{{- end }}
