{{ define "main" -}}

<div class="card my-5">
  <div class="card-body">
    <h1>Serviços adicionais</h1>
    
    <p>Os serviços adicionais são fornecidos através um escritório de contabilidade parceiro.</p>
    
    <p>Os valores abaixo são referentes a taxa de serviço da PJ Park e de seu escritório de contabilidade parceiro. <strong>Todos os serviços contém taxas adicionais</strong> cobradas pelos órgãos competentes (Cartório, Prefeitura, Estado ou União)</p>

    <p class="mb-5">Você pode solicitar através do chat.</p>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Serviço</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              Abertura de empresa
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Alteração de contrato social<br><small><i>Alteração de endereço, inclusão/ remoção de sócios, inclusão/ remoção de atividades, alteração de cotas, etc</i></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Baixa de empresa<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Certidão Negativa de Débitos<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Certificado digital<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Contabilidade retroativa
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Declarações<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Emissões e parcelamento de guias do governo<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Imposto de Renda Pessoa Física<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
          <tr>
            <td>
              Regularização de empresa<br><small></small>
            </td>
            <td>Sob consulta</td>
          </tr>
      </tbody>
    </table>
    
  </div>
</div>

{{- end }}
