<div class="container-fluid mt-2 mb-3 rodape">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-3">
        <p>Fundada em Curitiba em 2018, a OohMG é a principal plataforma de publicidade fora de casa (OOH) que facilita o planejamento, a compra e a mensuração de todo tipo de publicidade externa. Com milhares de parceiros de mídia abrangendo todos os tipos de mídia OOH, a OohMG conecta anunciantes e agências a proprietários de mídia OOH em qualquer lugar no Brasil. A OohMG permite o planejamento de mídia OOH baseado em dados, alimentado por conjuntos de dados robustos e ferramentas proprietárias, facilita a execução rápida e eficiente da campanha e fornece medição precisa em todos os objetivos da marca e KPI da campanha.</p>
        <p><a href="mailto:contato@ooh.mg">contato@ooh.mg</a></p>
      </div>
      <div class="col-md-3 mt-3">
        <p><strong>A EMPRESA</strong></p>

        <ul class="list-unstyled">
          <li><a href="/#sobre">Sobre nós</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <!-- <div class="col-md-3 mt-3">
        <p><strong>SERVIÇOS</strong></p>

        <ul class="list-unstyled">
          <li><a href="/trocar-de-contador">Trocar de contador</a></li>
          <li><a href="/servicos">Servicos</a></li>
          <li><a href="/planos">Quanto custa?</a></li>
          <li><a href="/cidades-atendidas">Cidades atendidas</a></li>
        </ul>
      </div> -->
    </div>
    <div class="row mt-5">
      <div class="col">
        Av. Carneiro Leão, 563 - Zona 01, Maringá - PR, 87014-010 - CNPJ 36.489.120/0001-41
      </div>
    </div>
  </div>
</div>

<footer class="text-center">
  <ul class="list-unstyled">
    <li><a href="/faq">Perguntas frequentes</a></li>
    <li><a href="/termos-de-uso">Termos de Uso</a></li>
    <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
  </ul>
</footer>
