<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class=container>
      <a class=navbar-brand href="/">OohMG</a>
      <button class=navbar-toggler type=button data-bs-toggle=collapse data-bs-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
        <span class=navbar-toggler-icon></span>
      </button>
      <div class="collapse navbar-collapse" id=navbarSupportedContent>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class=nav-item><a class="nav-link active" href="/">Página inicial</a></li>
          <!-- <li class=nav-item><a class="nav-link active" href="/baixa-de-empresa">Baixa de empresa</a></li> -->
          <!-- <li class=nav-item><a class="nav-link active" href="/servicos">Serviços adicionais</a></li> -->
          <!-- <li class=nav-item><a class="nav-link active" href="/planos">Quanto custa</a></li> -->
          <li class=nav-item><a class="nav-link active" href="/blog">Blog</a></li>
        </ul>
        <!-- <div class=menu-actions>
          <a href="https://app.ooh.mg" class="btn btn-light btn-login">Login</a>
          <a href="https://app.ooh.mg/users/sign_up" class="btn btn-secondary">Quero ser cliente</a>
        </div> -->
      </div>
    </div>
  </nav>
</header>
